In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import warnings
warnings.filterwarnings('ignore')
from google.colab import files
files.upload()

{}

In [0]:
df = pd.read_excel('Data_Train.xlsx', sheet_name='Sheet1')

In [3]:
df.head()

       Airline Date_of_Journey    Source  ... Total_Stops Additional_Info  Price
0       IndiGo      24/03/2019  Banglore  ...    non-stop         No info   3897
1    Air India       1/05/2019   Kolkata  ...     2 stops         No info   7662
2  Jet Airways       9/06/2019     Delhi  ...     2 stops         No info  13882
3       IndiGo      12/05/2019   Kolkata  ...      1 stop         No info   6218
4       IndiGo      01/03/2019  Banglore  ...      1 stop         No info  13302

[5 rows x 11 columns]

In [4]:
df['Additional_Info'].unique()

array(['No info', 'In-flight meal not included',
       'No check-in baggage included', '1 Short layover', 'No Info',
       '1 Long layover', 'Change airports', 'Business class',
       'Red-eye flight', '2 Long layover'], dtype=object)

In [5]:
df['Total_Stops'].unique()

array(['non-stop', '2 stops', '1 stop', '3 stops', nan, '4 stops'],
      dtype=object)

In [6]:
df.isnull().sum()

Airline            0
Date_of_Journey    0
Source             0
Destination        0
Route              1
Dep_Time           0
Arrival_Time       0
Duration           0
Total_Stops        1
Additional_Info    0
Price              0
dtype: int64

In [7]:
df.shape

(10683, 11)

In [0]:
df.dropna(inplace = True)

In [0]:
df.reset_index(drop=True, inplace=True)

In [0]:
df.drop('Route', axis = 1, inplace = True)

In [11]:
df.tail()

           Airline Date_of_Journey    Source  ... Total_Stops Additional_Info  Price
10677     Air Asia       9/04/2019   Kolkata  ...    non-stop         No info   4107
10678    Air India      27/04/2019   Kolkata  ...    non-stop         No info   4145
10679  Jet Airways      27/04/2019  Banglore  ...    non-stop         No info   7229
10680      Vistara      01/03/2019  Banglore  ...    non-stop         No info  12648
10681    Air India       9/05/2019     Delhi  ...     2 stops         No info  11753

[5 rows x 10 columns]

In [12]:
df['Total_Stops'].unique()

array(['non-stop', '2 stops', '1 stop', '3 stops', '4 stops'],
      dtype=object)

In [0]:
stop_dict = {'non-stop':0, '1 stop': 1, '2 stops': 2, '3 stops': 3, '4 stops': 4}

In [0]:
df['Total_Stops'] = df['Total_Stops'].map(stop_dict).astype(int)

In [15]:
df['Destination'].unique()

array(['New Delhi', 'Banglore', 'Cochin', 'Kolkata', 'Delhi', 'Hyderabad'],
      dtype=object)

In [0]:
df['Destination'].replace(to_replace='Delhi',value='New Delhi',inplace=True)

In [17]:
df['Destination'].unique()

array(['New Delhi', 'Banglore', 'Cochin', 'Kolkata', 'Hyderabad'],
      dtype=object)

In [18]:
df['Additional_Info'].unique()

array(['No info', 'In-flight meal not included',
       'No check-in baggage included', '1 Short layover', 'No Info',
       '1 Long layover', 'Change airports', 'Business class',
       'Red-eye flight', '2 Long layover'], dtype=object)

In [0]:
df['Additional_Info'].replace(to_replace='No Info',value='No info',inplace=True)

In [20]:
df['Additional_Info'].unique()

array(['No info', 'In-flight meal not included',
       'No check-in baggage included', '1 Short layover',
       '1 Long layover', 'Change airports', 'Business class',
       'Red-eye flight', '2 Long layover'], dtype=object)

In [0]:
df['Date_of_Journey']= df['Date_of_Journey'].astype('datetime64[ns]') 
df['Day_of_Journey']= pd.DatetimeIndex(df['Date_of_Journey']).dayofweek

In [22]:
df['Day_of_Journey'].unique()

array([6, 5, 4, 3, 0, 1, 2])

In [0]:
df['Travelling_time'] = (pd.to_datetime(df['Dep_Time']).dt.hour).apply(
                    lambda x:0 if((x>=0)&(x<6))else(1 if ((x>=6)&(x<12)) else (2 if((x>=12)&(x<18)) else 3)))

|Number|Meaning|
|------|-------|
|0| Late Night & Early Morning |
|1| Morning & before Noon |
|2| Afternoon & Evening |
|3| Evening & Night |

In [24]:
df['Travelling_time'].value_counts()

1    4282
3    2702
2    2604
0    1094
Name: Travelling_time, dtype: int64

In [25]:
df[['Day_of_Journey','Travelling_time','Price']].corr()

                 Day_of_Journey  Travelling_time     Price
Day_of_Journey         1.000000         0.005035 -0.007777
Travelling_time        0.005035         1.000000  0.001650
Price                 -0.007777         0.001650  1.000000

In [26]:
df.loc[df['Duration']=='5m'] #Outlier

        Airline Date_of_Journey  Source  ...  Price Day_of_Journey Travelling_time
6474  Air India      2019-06-03  Mumbai  ...  17327              0               2

[1 rows x 12 columns]

In [0]:
df.drop(df.loc[df['Duration']=='5m'].index, inplace=True)
df.reset_index(drop=True, inplace=True)

In [0]:
new=df['Duration'].str.split('h',n=1,expand=True)
df['Hours']=new[0]
df['Minutes']=new[1]
new=df['Minutes'].str.split('m',n=1,expand=True)
df['Minutes']=new[0]

In [0]:
df['Hours'] = df['Hours'].astype(int)

In [0]:
df['Minutes'].replace(to_replace='' ,value='0' ,inplace=True)

In [0]:
df['Minutes'] = df['Minutes'].astype(int)

In [0]:
df['Hours'] = df['Hours']*60

In [0]:
df['Duration'] = df['Hours']+df['Minutes']

In [34]:
df[['Duration','Day_of_Journey','Travelling_time','Price']].corr()

                 Duration  Day_of_Journey  Travelling_time     Price
Duration         1.000000        0.018012         0.005145  0.506803
Day_of_Journey   0.018012        1.000000         0.005090 -0.007516
Travelling_time  0.005145        0.005090         1.000000  0.001589
Price            0.506803       -0.007516         0.001589  1.000000

In [0]:
del df['Hours']
del df['Minutes']
del df['Dep_Time']
del df['Arrival_Time']

In [36]:
df.head()

       Airline Date_of_Journey  ... Day_of_Journey Travelling_time
0       IndiGo      2019-03-24  ...              6               3
1    Air India      2019-01-05  ...              5               0
2  Jet Airways      2019-09-06  ...              4               1
3       IndiGo      2019-12-05  ...              3               3
4       IndiGo      2019-01-03  ...              3               2

[5 rows x 10 columns]

In [37]:
df['Airline'].value_counts()

Jet Airways                          3849
IndiGo                               2053
Air India                            1750
Multiple carriers                    1196
SpiceJet                              818
Vistara                               479
Air Asia                              319
GoAir                                 194
Multiple carriers Premium economy      13
Jet Airways Business                    6
Vistara Premium economy                 3
Trujet                                  1
Name: Airline, dtype: int64

In [0]:
df.drop(df.loc[df['Airline']=="Trujet"].index, inplace=True)
df.reset_index(drop=True, inplace=True)

In [39]:
df['Airline'].value_counts()

Jet Airways                          3849
IndiGo                               2053
Air India                            1750
Multiple carriers                    1196
SpiceJet                              818
Vistara                               479
Air Asia                              319
GoAir                                 194
Multiple carriers Premium economy      13
Jet Airways Business                    6
Vistara Premium economy                 3
Name: Airline, dtype: int64

In [40]:
df['Source'].unique()

array(['Banglore', 'Kolkata', 'Delhi', 'Chennai', 'Mumbai'], dtype=object)

In [41]:
df['Destination'].unique()

array(['New Delhi', 'Banglore', 'Cochin', 'Kolkata', 'Hyderabad'],
      dtype=object)

In [0]:
unq_info = df['Additional_Info'].unique()

In [0]:
k = 0
dict_map_info = {}
for y in unq_info:
        dict_map_info[y] = k
        k+=1

In [0]:
df['Additional_Info'] = df["Additional_Info"].map(dict_map_info).astype(int)

In [45]:
df.head()

       Airline Date_of_Journey  ... Day_of_Journey Travelling_time
0       IndiGo      2019-03-24  ...              6               3
1    Air India      2019-01-05  ...              5               0
2  Jet Airways      2019-09-06  ...              4               1
3       IndiGo      2019-12-05  ...              3               3
4       IndiGo      2019-01-03  ...              3               2

[5 rows x 10 columns]

In [0]:
col = ['Airline','Source','Destination']
for x in col:
    unq = df[x].unique()
    k = 0
    dcu = {}
    for y in unq:
        dcu[y] = k
        k+=1
    df[x] = df[x].map(dcu).astype(int)

In [47]:
df.head()

   Airline Date_of_Journey  Source  ...  Price  Day_of_Journey  Travelling_time
0        0      2019-03-24       0  ...   3897               6                3
1        1      2019-01-05       1  ...   7662               5                0
2        2      2019-09-06       2  ...  13882               4                1
3        0      2019-12-05       1  ...   6218               3                3
4        0      2019-01-03       0  ...  13302               3                2

[5 rows x 10 columns]

In [0]:
df = df.set_index("Date_of_Journey")

In [0]:
cols = df.columns
cols = list(cols)
del cols[6]
cols.append('Price') #Shifting Price Column to the last for future ease. 
df = df[cols]

In [50]:
df.corr()

                  Airline    Source  ...  Travelling_time     Price
Airline          1.000000 -0.047248  ...        -0.021605  0.067712
Source          -0.047248  1.000000  ...        -0.057195 -0.052961
Destination     -0.047248  1.000000  ...        -0.057195 -0.052961
Duration        -0.026699  0.009469  ...         0.005175  0.506760
Total_Stops     -0.033885  0.104223  ...        -0.066245  0.603842
Additional_Info  0.048142 -0.029705  ...         0.024916 -0.004030
Day_of_Journey   0.002587 -0.049814  ...         0.005144 -0.007675
Travelling_time -0.021605 -0.057195  ...         1.000000  0.001626
Price            0.067712 -0.052961  ...         0.001626  1.000000

[9 rows x 9 columns]

In [0]:
from sklearn.preprocessing import MinMaxScaler #Importin Scaler
X = df.iloc[:, : -1].values
y = df.iloc[:, 8].values

In [0]:
scaler_x = MinMaxScaler()
scaler_y = MinMaxScaler()

In [0]:
X = scaler_x.fit_transform(X)
y = y.reshape(-1,1) #reshaping it into 2D
y = scaler_y.fit_transform(y)

In [0]:
from sklearn.model_selection import train_test_split

In [0]:
 X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.25)

In [62]:
rmse = []
min_rmse, mne, mmd = 1e10, 250, 3
n_estimator = [250,500,750,1000,1250,1500,1750,2000,2250,2500]
max_depth = [3,6,9,12]
y_test = scaler_y.inverse_transform(y_test)
for sklearn.ensemble import RandomForestRegressor
for sklearn.metrics import r2_score, mean_squared_error
for x in n_estimator:
  for y in max_depth:
    reg = RandomForestRegressor(n_estimators=x, max_depth=y )
    reg.fit(X_train, y_train)

    pred = reg.predict(X_test)
    pred = pred.reshape(-1,1)
    pred = scaler_y.inverse_transform(pred)
    pred_mse = mean_squared_error(y_test, pred)
    pred_rmse = np.sqrt(pred_mse)
    rmse.append(pred_rmse)

    if min_rmse > pred_rmse:
      min_rmse = pred_rmse
      mne = x
      mmd = y

print('Best n_estimator {}, max_depth {} with RMSE {}'.format(mne, mmd, min_rmse))
#Best n_estimator 500, max_depth 9 with RMSE 2160.7896362190286

Best n_estimator 500, max_depth 9 with RMSE 2160.7896362190286

In [63]:
from sklearn.ensemble import RandomForestRegressor
reg1 = RandomForestRegressor(n_estimators=500, max_depth=9)
reg1.fit(X_train,y_train)

RandomForestRegressor(bootstrap=True, criterion='mse', max_depth=9,
                      max_features='auto', max_leaf_nodes=None,
                      min_impurity_decrease=0.0, min_impurity_split=None,
                      min_samples_leaf=1, min_samples_split=2,
                      min_weight_fraction_leaf=0.0, n_estimators=500,
                      n_jobs=None, oob_score=False, random_state=None,
                      verbose=0, warm_start=False)

In [0]:
# from sklearn.model_selection import cross_validate
# from sklearn.metrics.scorer import make_scorer
# cv_results = cross_validate(reg1, X_train, y_train, cv=3,  scoring=('r2', 'neg_mean_squared_error'), return_train_score=True )
# print(cv_results['train_r2'])

In [0]:
pred1 = reg1.predict(X_test)

In [0]:
pred1 = pred1.reshape(-1,1)
pred1 = scaler_y.inverse_transform(pred1)

In [0]:
from sklearn.metrics import r2_score,mean_squared_error, mean_squared_log_error
score1 = r2_score(y_test, pred1)
score2 = mean_squared_error(y_test, pred1)

In [68]:
print(score1)
print()
print(score2)

0.7595959721405219

4710397.328796401

In [70]:
np.sqrt(mean_squared_log_error(y_test,pred1))

0.21986578398227064