In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import warnings
warnings.filterwarnings('ignore')

In [2]:
df = pd.read_excel('Test_set.xlsx', sheet_name='Sheet1')

In [3]:
df.head()

,Airline,Date_of_Journey,Source,Destination,Route,Dep_Time,Arrival_Time,Duration,Total_Stops,Additional_Info
0,Jet Airways,6/06/2019,Delhi,Cochin,DEL → BOM → COK,17:30,04:25 07 Jun,10h 55m,1 stop,No info
1,IndiGo,12/05/2019,Kolkata,Banglore,CCU → MAA → BLR,06:20,10:20,4h,1 stop,No info
2,Jet Airways,21/05/2019,Delhi,Cochin,DEL → BOM → COK,19:15,19:00 22 May,23h 45m,1 stop,In-flight meal not included
3,Multiple carriers,21/05/2019,Delhi,Cochin,DEL → BOM → COK,08:00,21:00,13h,1 stop,No info
4,Air Asia,24/06/2019,Banglore,Delhi,BLR → DEL,23:55,02:45 25 Jun,2h 50m,non-stop,No info

In [4]:
df['Additional_Info'].unique()

array(['No info', 'In-flight meal not included',
       'No check-in baggage included', '1 Long layover', 'Business class',
       'Change airports'], dtype=object)

In [5]:
df['Total_Stops'].unique()

array(['1 stop', 'non-stop', '2 stops', '3 stops', '4 stops'],
      dtype=object)

In [6]:
df.isnull().sum()

Airline            0
Date_of_Journey    0
Source             0
Destination        0
Route              0
Dep_Time           0
Arrival_Time       0
Duration           0
Total_Stops        0
Additional_Info    0
dtype: int64

In [7]:
df.shape

(2671, 10)

In [8]:
df.dropna(inplace = True)

In [9]:
df.reset_index(drop=True, inplace=True)

In [10]:
df.drop('Route', axis = 1, inplace = True)

In [11]:
df.shape

(2671, 9)

In [12]:
df.tail()

,Airline,Date_of_Journey,Source,Destination,Dep_Time,Arrival_Time,Duration,Total_Stops,Additional_Info
2666,Air India,6/06/2019,Kolkata,Banglore,20:30,20:25 07 Jun,23h 55m,1 stop,No info
2667,IndiGo,27/03/2019,Kolkata,Banglore,14:20,16:55,2h 35m,non-stop,No info
2668,Jet Airways,6/03/2019,Delhi,Cochin,21:50,04:25 07 Mar,6h 35m,1 stop,No info
2669,Air India,6/03/2019,Delhi,Cochin,04:00,19:15,15h 15m,1 stop,No info
2670,Multiple carriers,15/06/2019,Delhi,Cochin,04:55,19:15,14h 20m,1 stop,No info

In [13]:
df['Total_Stops'].unique()

array(['1 stop', 'non-stop', '2 stops', '3 stops', '4 stops'],
      dtype=object)

In [14]:
stop_dict = {'non-stop':0, '1 stop': 1, '2 stops': 2, '3 stops': 3, '4 stops': 4}

In [15]:
df['Total_Stops'] = df['Total_Stops'].map(stop_dict).astype(int)

In [16]:
df['Destination'].unique()

array(['Cochin', 'Banglore', 'Delhi', 'New Delhi', 'Hyderabad', 'Kolkata'],
      dtype=object)

In [17]:
df['Destination'].replace(to_replace='Delhi',value='New Delhi',inplace=True)

In [18]:
df['Destination'].unique()

array(['Cochin', 'Banglore', 'New Delhi', 'Hyderabad', 'Kolkata'],
      dtype=object)

In [19]:
df['Additional_Info'].unique()

array(['No info', 'In-flight meal not included',
       'No check-in baggage included', '1 Long layover', 'Business class',
       'Change airports'], dtype=object)

In [20]:
df['Additional_Info'].replace(to_replace='No Info',value='No info',inplace=True)

In [21]:
df['Additional_Info'].unique()

array(['No info', 'In-flight meal not included',
       'No check-in baggage included', '1 Long layover', 'Business class',
       'Change airports'], dtype=object)

In [22]:
df['Date_of_Journey']= df['Date_of_Journey'].astype('datetime64[ns]') 
df['Day_of_Journey']= pd.DatetimeIndex(df['Date_of_Journey']).dayofweek

In [23]:
df['Day_of_Journey'].unique()

array([3, 1, 0, 4, 5, 2, 6])

In [24]:
df['Travelling_time'] = (pd.to_datetime(df['Dep_Time']).dt.hour).apply(
                    lambda x:0 if((x>=0)&(x<6))else(1 if ((x>=6)&(x<12)) else (2 if((x>=12)&(x<18)) else 3)))

|Number|Meaning|
|------|-------|
|0| Late Night & Early Morning |
|1| Morning & before Noon |
|2| Afternoon & Evening |
|3| Evening & Night |

In [25]:
df['Travelling_time'].value_counts()

1    1062
3     687
2     668
0     254
Name: Travelling_time, dtype: int64

In [26]:
df[['Day_of_Journey','Travelling_time']].corr()

                 Day_of_Journey  Travelling_time
Day_of_Journey         1.000000         0.021009
Travelling_time        0.021009         1.000000

In [27]:
df.loc[df['Duration']=='5m']['Duration']

2660    5m
Name: Duration, dtype: object

In [28]:
df['Duration'][2660] = '1h 40m'

In [29]:
df['Duration'][2660]

'1h 40m'

In [30]:
new=df['Duration'].str.split('h',n=1,expand=True)
df['Hours']=new[0]
df['Minutes']=new[1]
new=df['Minutes'].str.split('m',n=1,expand=True)
df['Minutes']=new[0]

In [31]:
df['Hours'] = df['Hours'].astype(int)

In [32]:
df['Minutes'].replace(to_replace='' ,value='0' ,inplace=True)

In [33]:
df['Minutes'] = df['Minutes'].astype(int)

In [34]:
df['Hours'] = df['Hours']*60

In [35]:
df['Duration'] = df['Hours']+df['Minutes']

In [36]:
# df[['Duration','Day_of_Journey','Travelling_time','Price']].corr()

In [37]:
del df['Hours']
del df['Minutes']
del df['Dep_Time']
del df['Arrival_Time']

In [38]:
df.head()

,Airline,Date_of_Journey,Source,Destination,Duration,Total_Stops,Additional_Info,Day_of_Journey,Travelling_time
0,Jet Airways,2019-06-06,Delhi,Cochin,655,1,No info,3,2
1,IndiGo,2019-12-05,Kolkata,Banglore,240,1,No info,3,1
2,Jet Airways,2019-05-21,Delhi,Cochin,1425,1,In-flight meal not included,1,3
3,Multiple carriers,2019-05-21,Delhi,Cochin,780,1,No info,1,1
4,Air Asia,2019-06-24,Banglore,New Delhi,170,0,No info,0,3

In [39]:
df['Airline'].value_counts()

Jet Airways                          897
IndiGo                               511
Air India                            440
Multiple carriers                    347
SpiceJet                             208
Vistara                              129
Air Asia                              86
GoAir                                 46
Multiple carriers Premium economy      3
Vistara Premium economy                2
Jet Airways Business                   2
Name: Airline, dtype: int64

In [40]:
# df.drop(df.loc[df['Airline']=="Trujet"].index, inplace=True)
# df.reset_index(drop=True, inplace=True)

In [41]:
# df['Airline'].value_counts()

In [42]:
df['Source'].unique()

array(['Delhi', 'Kolkata', 'Banglore', 'Mumbai', 'Chennai'], dtype=object)

In [43]:
df['Destination'].unique()

array(['Cochin', 'Banglore', 'New Delhi', 'Hyderabad', 'Kolkata'],
      dtype=object)

In [44]:
unq_info = df['Additional_Info'].unique()

In [45]:
dict_map_info = {'No info': 0,
 'In-flight meal not included': 1,
 'No check-in baggage included': 2,
 '1 Short layover': 3,
 '1 Long layover': 4,
 'Change airports': 5,
 'Business class': 6,
 'Red-eye flight': 7,
 '2 Long layover': 8}

In [46]:
df['Additional_Info'] = df["Additional_Info"].map(dict_map_info).astype(int)

In [47]:
df.head()

,Airline,Date_of_Journey,Source,Destination,Duration,Total_Stops,Additional_Info,Day_of_Journey,Travelling_time
0,Jet Airways,2019-06-06,Delhi,Cochin,655,1,0,3,2
1,IndiGo,2019-12-05,Kolkata,Banglore,240,1,0,3,1
2,Jet Airways,2019-05-21,Delhi,Cochin,1425,1,1,1,3
3,Multiple carriers,2019-05-21,Delhi,Cochin,780,1,0,1,1
4,Air Asia,2019-06-24,Banglore,New Delhi,170,0,0,0,3

In [48]:
col = ['Airline','Source','Destination']
dict1 = {'IndiGo': 0, 'Air India': 1, 'Jet Airways': 2, 'SpiceJet': 3, 'Multiple carriers': 4, 'GoAir': 5, 'Vistara': 6, 'Air Asia': 7, 'Vistara Premium economy': 8, 'Jet Airways Business': 9, 'Multiple carriers Premium economy': 10}
dict2 = {'Banglore': 0, 'Kolkata': 1, 'Delhi': 2, 'Chennai': 3, 'Mumbai': 4}
dict3 = {'New Delhi': 0, 'Banglore': 1, 'Cochin': 2, 'Kolkata': 3, 'Hyderabad': 4}
list_dict = [dict1,dict2,dict3]
for x,dcu in zip(col,list_dict):
    df[x] = df[x].map(dcu).astype(int)

In [49]:
df.head()

,Airline,Date_of_Journey,Source,Destination,Duration,Total_Stops,Additional_Info,Day_of_Journey,Travelling_time
0,2,2019-06-06,2,2,655,1,0,3,2
1,0,2019-12-05,1,1,240,1,0,3,1
2,2,2019-05-21,2,2,1425,1,1,1,3
3,4,2019-05-21,2,2,780,1,0,1,1
4,7,2019-06-24,0,0,170,0,0,0,3

In [50]:
del df['Date_of_Journey']

In [51]:
df.head()

,Airline,Source,Destination,Duration,Total_Stops,Additional_Info,Day_of_Journey,Travelling_time
0,2,2,2,655,1,0,3,2
1,0,1,1,240,1,0,3,1
2,2,2,2,1425,1,1,1,3
3,4,2,2,780,1,0,1,1
4,7,0,0,170,0,0,0,3

In [52]:
df.to_csv("New_test.csv", index=False)